DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require"
PORT=3000

FIREBASE_PROJECT_ID=talent-5ffc1
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@talent-5ffc1.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
